@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}

nav > div > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
