<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/navbar.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/">Home</a>
      <div class="quick-links">
        <ul>
          <li><a href="/posting">Create a Post</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
